body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}

.card .card-title
{
    font-size: 18px !important;
}

.nav-wrapper .input-field input[type=search]
{
    height: 64px;
}

.nav-wrapper input[type="search"]:focus
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.input-field label
{
    max-height: 64px;
}

.nav-wrapper input[type="search"]:focus ~ .label-icon.active
{
    position: fixed;
    left: 10px;
}

.nav-wrapper input[type="search"]:focus ~ .closed
{
    position: fixed;
    right: 10px;
}

.icon-search
{
    line-height: 42px !important;
}

.input-chips
{
    margin: 15px 0 20px 0 !important;
}
