<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Masterchef</title>

    <environment include="Development">
        @*<link type="text/css" rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" media="screen,projection" />
            <link type="text/css" rel="stylesheet" href="~/css/custom.css" media="screen,projection" asp-append-version="true" />*@

        <link type="text/css" rel="stylesheet" href="~/css/site.min.css" media="screen,projection" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link type="text/css" rel="stylesheet" href="~/css/site.min.css" media="screen,projection" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="nav-border red">
        <div class="nav-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s3">
                        <a href="/" class="brand-logo">Masterchef</a>
                        <!-- <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a> -->
                    </div>

                    <div class="col s9 hide-on-med-and-down right">
                        <form action="/receitas/busca" method="get">
                            <div class="input-field">
                                <input id="termo" name="termo" type="search" placeholder="Pesquisar" required>
                                <label class="label-icon" for="search"><i class="material-icons icon-search">search</i></label>
                                <i class="material-icons closed">close</i>
                            </div>
                        </form>
                    </div>

                    <!-- <div class="col s2 hide-on-med-and-down">
                        <ul class="right">
                            <li><a href="#"><i class="material-icons">power_settings_new</i></a>
                            </li>
                        </ul>
                    </div> -->
                </div>

                <!-- <ul class="side-nav" id="mobile-menu">
                    <li><a href="#"><i class="material-icons">power_settings_new</i></a>
                    </li>
                </ul> -->

            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            @RenderBody()
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">dehaze</i></a>
                <ul>
                    <!-- <li><a class="btn-floating blue"><i class="material-icons">restaurant</i></a></li>
                    <li><a class="btn-floating pink"><i class="material-icons">restaurant_menu</i></a></li>
                    <li><a class="btn-floating yellow"><i class="material-icons">room_service</i></a></li> -->
                    <li><a href="/receitas/favoritos" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Ver favoritos"><i class="material-icons">favorite</i></a></li>
                    <li>
                        <a href="#modalAddRecipes" class="btn-floating green tooltipped modal-trigger" data-position="left" data-delay="50"
                           data-tooltip="Adicionar Receita"><i class="material-icons">add</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    @await Component.InvokeAsync("ModalCadastroReceita")

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script type="text/javascript" src="~/lib/materialize/dist/js/materialize.js"></script>
        <script type="text/javascript" src="~/js/scripts.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
