<div class="section">
    <h5>Lanches</h5>
    <div class="divider"></div>
    <div class="row">

        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="~/images/hamburguer.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>

                <div class="card-content">
                    <span class="card-title">Hamburguer Perfeito</span>
                    <p>Como fazer um hamburguer perfeito</p>
                    <br>
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>&nbsp;&nbsp;<span>20 min</span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#">Ver Receita</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="~/images/hamburguer.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>

                <div class="card-content">
                    <span class="card-title">Hamburguer Perfeito</span>
                    <p>Como fazer um hamburguer perfeito</p>
                    <br>
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>&nbsp;&nbsp;<span>20 min</span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#">Ver Receita</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="~/images/hamburguer.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>

                <div class="card-content">
                    <span class="card-title">Hamburguer Perfeito</span>
                    <p>Como fazer um hamburguer perfeito</p>
                    <br>
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>&nbsp;&nbsp;<span>20 min</span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#">Ver Receita</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <h5>Lanches</h5>
    <div class="divider"></div>
    <div class="row">

        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="~/images/hamburguer.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>

                <div class="card-content">
                    <span class="card-title">Hamburguer Perfeito</span>
                    <p>Como fazer um hamburguer perfeito</p>
                    <br>
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>&nbsp;&nbsp;<span>20 min</span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#">Ver Receita</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="~/images/hamburguer.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>

                <div class="card-content">
                    <span class="card-title">Hamburguer Perfeito</span>
                    <p>Como fazer um hamburguer perfeito</p>
                    <br>
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>&nbsp;&nbsp;<span>20 min</span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#">Ver Receita</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="~/images/hamburguer.jpg">
                    <a class="btn-floating halfway-fab waves-effect waves-light red">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>

                <div class="card-content">
                    <span class="card-title">Hamburguer Perfeito</span>
                    <p>Como fazer um hamburguer perfeito</p>
                    <br>
                    <div class="valign-wrapper">
                        <i class="material-icons">access_time</i>&nbsp;&nbsp;<span>20 min</span>
                    </div>
                </div>
                <div class="card-action">
                    <a href="#">Ver Receita</a>
                </div>
            </div>
        </div>
    </div>
</div>

